.bar {
	background-color: $background;
	color: $foreground;
}

.right {
	padding: 0 .5em;

	.indicator {
		border-radius: 8px;
		padding: .25em .5em;
		margin: 0 .5em;
		min-width: 1em;
	}

	.interactive-indicator:hover > * {
		background-color: lighter(lighter($background));
	}
}

.right-panel {
	padding: .5em;

	> * {
		background-color: $background;
		border-radius: 4px;

		> * {
			margin: 1em;
		}
	}

	.top-buttons {
		button {
			border-radius: 999px;
			background-color: lighter($background);
			padding: 1em;
		}

		.icon {
			font-size: 1.5em;
		}
	}

	.large-icon-button {
		padding: .5em;
		border-radius: 999px;
		background-color: darker($color4);

		.icon {
			margin-left: .5em;
		}

		.text {
			margin-left: 1em;
		}
	}
}

.calendar-panel {
	padding: .5em;

	* {
		padding: .25em;
		border-radius: 2px;
		background-color: $background;
	}
}

